<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer__good">
                <img src="img/good-1.png" alt="" class="first-screen__image">
                <img src="img/good2-branch.png" alt="">
                <img src="img/price-2.png" alt="">
            </div>
            <img src="../img/footer-branch.png" alt="" class="footer-bg-branch">
            <div class="form br35">
                <h3>Promotional price 50%</h3>
                <div class="form-timer">
                    <div>
                        <div class="timer-elem circle">
                            <span class="timer-elem__count days">00</span>
                        </div>
                        <span>Days</span>
                    </div>
                    <div>
                        <div class="timer-elem circle">
                            <span class="timer-elem__count hours">00</span>
                        </div>
                        <span>Hours</span>
                    </div>
                    <div>
                        <div class="timer-elem circle">
                            <span class="timer-elem__count mins">23</span>
                        </div>
                        <span>Mins</span>
                    </div>
                    <div>
                        <div class="timer-elem circle">
                            <span class="timer-elem__count secs">23</span>
                        </div>
                        <span>Sec.</span>
                    </div>
                </div>
                <form>
                    <input type="text" name="name" placeholder="Your name" class="br35 input">
                    <input type="text" name="phone" placeholder="+(917)" class="br35 input">
                    <button type="submit" class="green-button br35 button-text input">Order now</button>
                </form>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="footer__contacts">
        <img src="../img/footer-logo.svg" alt="">
        <div class="group-contacts">
            <a href="tel:(971)-03-028-13-47" class="number">(971)-03-028-13-47</a>
            <a href="#">Help</a>
            <a href="#">About</a>
            <a href="#">Info</a>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>