@media screen and (max-width: 1600px) {
  .natural-img {
    display: none;
  }
}

// MEDIA < 1400
@media screen and (max-width: 1400px) {
  .container {
    width: 70%;
  }
  .first-screen__good {
    min-width: 200px;
  }
  .first-screen__row {
    display: grid;
    grid-gap: 5%;
    justify-content: space-around;
    grid-template-columns: 30% 30% 30%;
    min-width: 100%;
  }

  .banner {
    grid-gap: 50px;
  }
  .banner__image {
    position: relative;
    margin-left: -80px;

    img {
      &:nth-child(1) {
        width: 500px;
      }

      &:nth-child(2) {
        width: 622px;
        position: absolute;
        top: -87px;
        left: -104px;
        z-index: -1;
      }

      &:nth-child(3) {
        position: absolute;
        bottom: 0;
        right: 80px;
      }
    }
  }

  .catalogue-item {
    img {
      width: 227px;
    }
  }

  .second-feature__group {
    img {
      width: 200px;
      height: 280px;
    }

  }
  .second-feature__image {
    margin-right: 50px;

    img {
      &:nth-child(1) {
        width: 200px;
        height: 280px;
      }

      &:nth-child(2) {
        width: 200px;
        bottom: 93px;
        right: -125px;
      }
    }
  }

  .recommend__image {
    img {
      width: 400px;
    }
  }
}

//MEDIA < 1100
@media screen and (max-width: 1100px) {

  .mb75 {
    margin-bottom: 30px;
  }
  .mb135 {
    margin-bottom: 100px;
  }
  .container {
    width: 728px;
  }
  h1 {
    font-size: 35px;
  }

  .first-screen {
    padding-bottom: 40px;

    h1 {
      font-size: 35px;
      text-transform: uppercase;
    }

    .first-screen__row {
      display: flex;
      flex-wrap: wrap;
    }

    .first-screen__good {
      min-width: 200px;

      img {
        &:nth-child(1) {
          height: 250px;
        }

        &:nth-child(2) {
          width: 133px;
          height: 95px;
          bottom: 60px;
          left: -30px;
        }

        &:nth-child(3) {
          width: 130px;
          height: 115px;
          bottom: 60px;
          right: -70px;

        }
      }

    }

    .first-screen__features {
      order: -1;
      width: 100%;

      p {
        display: none;
      }

      .natural-img {
        display: block;
        z-index: 1;
        width: 130px;
        height: 120px;
        right: 50%;
        bottom: auto;
      }
    }
  }
  .first-screen__features-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 110px;
    margin-bottom: 80px;

    li {
      margin: 0;
    }
  }
  .form {
    width: 300px;
    height: 340px;

    .input {
      &:nth-child(2) {
        margin-bottom: 20px;
      }
    }
  }
  .first-screen__scroll {
    display: none;
  }

  .banner {
    grid-gap: 25px;
  }
  .banner__image {
    width: 340px;
    height: 331px;
    margin-left: 20px;

    img {
      &:nth-child(1) {
        width: 340px;
        height: 331px;
      }

      &:nth-child(2) {
        width: 440px;
        top: -75px;
        left: -75px;
      }

      &:nth-child(3) {
        width: 65px;
        height: 65px;
        right: 75px;
      }
    }
  }

  .about__list-item {
    padding: 65px 10px 0 10px;
  }

  .first-feature {
    margin-bottom: 160px;

    .banner__image {
      img {
        &:nth-child(3) {
          width: 63px;
          height: 80px;
          right: 0;
        }
      }

    }
  }

  .catalogue__list {
    height: 650px;
  }
  .catalogue-item {
    h2 {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .catalogue__price {
    margin-bottom: 10px;
  }

  .recommend {
    h1 {
      width: 100%;
      margin: 0;
      margin-bottom: 60px;
    }
  }
  .recommend__content {
    display: block;
    position: relative;
  }
  .recommend__image {
    position: absolute;
    margin-left: 20px;

    img {
      &:nth-child(1) {
        width: 337px;
      }

      &:nth-child(2) {
        width: 364px;
        bottom: 20px;
      }
    }
  }
  .recommend__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 90px;
    grid-row-gap: 60px;
  }
  .recommend__item {
    button {
    }

    &:nth-child(1) {
      grid-area: 1 / 2 / 2 / 3;
    }

    &:nth-child(2) {
      grid-area: 2 / 2 / 3 / 3;
    }

    &:nth-child(3) {
      grid-area: 3 / 1 / 4 / 2;

      margin-top: 30px;
    }

    &:nth-child(4) {
      grid-area: 3 / 2 / 4 / 3;
      margin-top: 30px;
    }
  }

  .call-to-buy {
    margin-top: 135px;
    background-position: center;

    h1 {
      font-size: 40px;
    }
  }
  .call-to-buy__content {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);

  }

  .second-feature {
    h1 {
      max-width: 100%;
    }
  }
  .second-feature__group {
    img {
      width: 172px;
      height: 245px;

      &:nth-child(2) {
        margin-left: 20px;
      }
    }
  }
  .second-feature__image {
    position: absolute;
    right: 40px;
    top: 40px;

    img {
      &:nth-child(1) {
        width: 175px;
        height: 210px;
      }

      &:nth-child(2) {
        width: 158px;
        height: 79px;
        bottom: -44px;
        right: -110px;
      }
    }
  }
  .second-feature__info {
    max-width: 100%;
    width: 100%;
  }

  .reviews {
    h1 {
      margin-bottom: 30px;
    }
  }
  .slider {
    height: 440px;
    padding-top: 60px;
  }
  .swiper-slide {
    p {
      width: 100%;
      height: 100%;
    }
  }

  .delivery__list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .delivery__elem {
    &:not(:last-child) {
      margin-bottom: 150px;
    }
  }

  .footer__good {
    img {
      &:nth-child(1) {
        height: 310px;
      }

      &:nth-child(2) {
        width: 200px;
        height: 100px;
        bottom: 35px;
        left: 155px;
      }

      &:nth-child(3) {
        width: 127px;
        height: 117px;
        top: 70px;
        left: 170px;
      }
    }
  }
  .footer-content {
    grid-template-columns: 45% 55%;
  }
  .footer-bg-branch {
    width: 80%;
    top: -100%;
    left: 22%;
  }
  .footer__contacts {
    padding: 20px 15px;
  }
}

//MEDIA < 768
@media screen and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  .text20 {
    font-size: 16px;
  }
  .main-header {
    .main-header__logo {
      width: 173px;
    }
  }
  .container {
    width: 95%;
    padding: 0;
  }

  .first-screen {
    background-size: auto;
    .first-screen__row {
      align-items: center;
    }
    h1 {
      font-size: 20px;
    }
      .first-screen__good {
        margin-top: -50px;
        min-width: 0;
        img {
          &:nth-child(1) {
            height: 135px;
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            width: 77px;
            height: 68px;
            bottom: -15px;
            left: 65px;
          }
        }
      }
    .first-screen__features {
      order: 0;
      width: 45%;
      min-width: 0;
      margin-left: -35px;
      .first-screen__features-list {
        height: 190px;
        margin: 0;
        li {
          padding: 0;
          margin: 0;
          margin-top: 10px;
          font-size: 14px;
          background: none;
          &:last-child {
            display: none;
          }
          &:first-child {
            margin-top: 0;
          }
        }
      }
      .natural-img {
        display: none;
      }
    }

  }
  .form {
    width: 300px;
    height: 325px;
    padding: 21px 23px;
    margin: 0;
    h3 {
      font-size: 18px;
    }
    .timer-elem {
      width: 53px;
      height: 53px;
    }
    .input {
      width: 190px;
      padding: 10px 20px;
      &:last-child {
        width: 235px;
        height: 48px;
      }
    }
  }

  .banner {
    display: block;
    text-align: left;
  }
  .banner__image {
    width: 258px;
    height: 251px;
    margin: 0 auto;

    img {
      &:nth-child(1) {
        width: 258px;
        height: 251px;
      }

      &:nth-child(2) {
        width: 340px;
        top: -53px;
        left: -56px;
      }

      &:nth-child(3) {
        width: 40px;
        height: 40px;
        right: 60px;
      }
    }
  }
  .about__list {
    flex-wrap: wrap;
  }
  .about__list-item {
    img {
      margin-bottom: 60px;
    }
  }

  .first-feature {
    .banner {
      display: flex;
      flex-direction: column;
      }
    .banner__image {
      order: -1;
      margin: 0;
      margin-bottom: 40px;
      img {
        &:nth-child(3) {
          width: 48px;
          height: 60px;
          bottom: -30px;
        }
      }
    }
  }

  .catalogue {
    .swiper-wrapper {
      display: block;
    }
    .swiper-slide {
      padding: 0;
    }
  }
  .catalogue__list {
    height: 100%;
  }
  .catalogue-item {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 100px;
    }
  }

  .recommend {
    margin-bottom: 30px;
  }
  .recommend__content {
    display: flex;
    flex-direction: column;
  }
  .recommend__image {
    order: -1;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
    img {
      &:nth-child(1) {
        width: 258px;
        height: 320px;
      }
      &:nth-child(2) {
        width: 295px;
        height: 285px;
      }
      }
    }
  .recommend__list {
    display: block;
  }
  .recommend__item {
    &:hover {
      button {
          margin-left: 0;
      }
    }
    button {
      margin-bottom: 20px;
    }
      margin-bottom: 35px;
  }

  .call-to-buy {
    margin-top: 0;
    margin-bottom: 60px;
    h1 {
      font-size: 30px;
      width: 100%;
      margin-bottom: 100px;
    }
  }

  .second-feature__content {
    flex-direction: column;
    justify-content: center;
  }
  .second-feature__group {
    display: none;
  }
  .second-feature__image {
    position: relative;
    order: -1;
    margin: 0 auto;
    width: 50px;
    margin-bottom: 90px;
    img {
      &:nth-child(1) {
        width: 110px;
        height: 145px;
      }
      &:nth-child(2) {
        width: 105px;
        height: 58px;
        left: 85px;
        bottom: -35px;
      }

    }
  }

  .slider {
    .swiper-container{
      width: 100%;
    }
    .swiper-slide {
      width: 100%;
    }
  }

  .delivery__elem {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  .footer-bg-branch {
    display: none;
  }
  .footer-content {
    display: block;
  }
  .footer__good {
    margin: 0 auto;
    width: 230px;
    height: 185px;
    margin-bottom: 50px;
    img {
      &:nth-child(1) {
        width: 145px;
        height: 137px;
      }
      &:nth-child(2) {
        display: none;
       }
      &:nth-child(3) {
          width:77px;
        height: 68px;
        left: 85px;
        top: 150px;
        }
    }
  }
  footer {
    background-size: 320%;
    .form {
      width: 255px;
      height: 325px;
      padding: 21px 23px;
      margin: 0 auto;
      h3 {
        font-size: 18px;
      }
      .timer-elem {
        width: 53px;
        height: 53px;
      }
      .input {
        width: 190px;
        padding: 10px 20px;
        &:last-child {
          width: 235px;
          height: 48px;
        }
      }
    }
  }
  .footer__contacts {
    padding: 0;
    a {
      margin: 0;
    }
    .group-contacts {
      width: 100%;
      font-size: 10px;
      justify-content: space-between;
      padding: 15px 30px;
    }
    img {
      display: none;
    }
  }
}
